*.project
*/.settings/**
*.classpath
**/target/**
*.MF
*.iml
*/build/**
*.mymetadata
*/.externalToolBuilders/**
*.idea/**
*.jar
*.class
crawler-feeler/crawler-feeler-breakingnews/.settings/com.genuitec.eclipse.j2eedt.core.prefs
crawler-feeler/crawler-feeler-gallery/.settings/com.genuitec.eclipse.j2eedt.core.prefs
crawler-feeler/crawler-feeler-text/.settings/com.genuitec.eclipse.j2eedt.core.prefs
crawler-feeler/crawler-feeler-video/.settings/com.genuitec.eclipse.j2eedt.core.prefs
/target/
imgconverter/imgconverter-osfapi/.settings/org.eclipse.wst.common.component
imgconverter/imgconverter-osfapi/.settings/org.eclipse.wst.validation.prefs
